<p>
  <b>Name:</b>
  <%= @workout.name %>
</p>

<p>
  <b>Posted By:</b>
  <%= @workout.user.email %>
</p>

<p>
  <b>What:</b>
  <%= @workout.what %>
</p>

<p>
  <b>Time:</b>
  <%= @workout.time %>
</p>

<p>
  <b>Description:</b>
  <%= @workout.description %>
</p>

<p>
  <b>Possible Attendees:</b>
  <div id="attendees">
  <%= render @workout.workout_attendees %>
  </div>
</p>

<% if !marked_interest?(@workout) %>
  <%= render :partial => "workout_attendees/form" %>
<% end %>

<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
