<h1>Calendar</h1>

<div id="calendar">
  <table id="workouts">
  <tr>
  <% @days_of_week.each do |day| %>
    <th class='day_of_week'><%= day %></th>
  <% end %>
  </tr>

  <% @workouts.each do |week| %>
    <tr>
    <% week.each do |hash| %>
      <td class='<%= hash[:class] %>'>
        <span class='date'><%= hash[:date].strftime("%m-%d") %></span>
        <ul>
        <% hash[:workouts].each do |workout| %>
          <li>
            <span class="time"><%= workout.time.strftime("%I:%M %p:") %></span>
            <span class="type"><%= link_to workout.what, workout %></span>
          </li>
        <% end %>
        </ul>
      </td>
    <% end %>
    </tr>
  <% end %>

  </table>

  <div id="calendar_tools">
    <form id="calendar_search" action="<%= workouts_search_path %>" method="get" >
      <%= text_field_tag 'q' %>
      <%= submit_tag "Search", :name => nil%>
    </form>

    <%= link_to "<", :date => @prev_group %>
    <%= link_to "Today" %>
    <%= link_to ">", :date => @next_group %>

    <%= link_to 'New Workout', new_workout_path, :class => :new_workout %>
  </div>
</div>

