<!DOCTYPE html>
<html>
  <head>
    <title><%= APP_CONFIG['title'] %></title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="pagebody">
      <div id="pageheader">
        <a href="/"><img src="<%= APP_CONFIG['banner_logo'] %>" alt=<%= APP_CONFIG['title'] %> id="banner_logo" /></a>
        <div id="nav">
          <ul class='dropdown'>
            <% create_navigation.each do |key,vals| %>
              <li>
              <% if vals.length == 1 %>
                <%= link_to key.capitalize, vals[0] %>
              <% else %>
                <span><%= key %></span>
                <ul>
                  <% vals.each do |val| %>
                    <li><%= link_to get_nav_name(val).capitalize, val %></li>
                  <% end %>
                </ul>
              <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div id="pagecontents">
        <% if !flash.empty? %>
          <div id="flash">
            <% flash.each do |key, msg| %>
              <%= content_tag :div, msg, :id => key %>
            <% end %>
          </div>
        <% end %>

        <%= yield %>
      </div>
      <div id="pagefooter">
         <span>Content Copyright <%= APP_CONFIG['content_copyright_years'] %> by the <%= APP_CONFIG['title'] %>. All rights reserved.</span>
         <br />
         <span>Website powered by the <%= link_to "TriWeb", "https://github.com/jcrussell/TriWeb" %> project.</span>
      </div>
    </div>
  </body>
</html>
